<div class="container-fluid bg-light mb-4 p-5 " id ="week">

    <div class="row">
        <h3 >  Weather of the Week</h3>
        <!-- <div class="col xl-3 lg-3 md-3 sm-3 ">
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Saturday</h5>
                  <img class="card-img-top " src="../../assets/weather_icon.png" alt="Card image cap">
                  <h1 style="font-size: 80px; font-weight: 200;">{{Temperature_sat}} °<sub style="color: #fee38a; font-size: 30px;">C</sub></h1>
                </div>
                <ul class="list-group list-group-flush  ">
                  <li class="list-group-item"> Min temperature </li>
                  <li class="list-group-item">Humadity</li>
                  <li class="list-group-item">wind speed</li> 
                </ul>
              </div>
        </div>
        <div class="col xl-8 lg-8 md-8 sm-8"> -->
            <table class="table table-bordered table-dark borderless">
                <thead>
                    <tr >
                    <th class = "odd" scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                    <th class = "odd" scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th class = "odd" scope="col">Wednessday</th>
                    <th scope="col">Thursday</th>
                    <th class = "odd" scope="col">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class = "odd"><img class ="table_img"src="../../assets/weather_icon.png"></td>
                    <td><img class ="table_img" src="../../assets/weather_icon.png"></td>
                    <td class = "odd"><img class ="table_img" src="../../assets/weather_icon.png"></td>
                    <td><img class ="table_img"src="../../assets/weather_icon.png"></td>
                    <td class = "odd"><img class ="table_img" src="../../assets/weather_icon.png"></td>
                    <td><img class ="table_img" src="../../assets/weather_icon.png"></td>
                    <td class = "odd"><img class ="table_img" src="../../assets/weather_icon.png"></td>
                    </tr>
                    <tr>
                    <td class = "odd"><h1 style="font-size: 50px; font-weight: 200;">{{Temperature_sat}} °<sub style="color: #fee38a; font-size: 30px;">C</sub></h1></td>
                    <td><h1 style="font-size: 50px; font-weight: 200;">{{Temperature_sat}} °<sub style="color: #fee38a; font-size: 30px;">C</sub></h1></td>
                    <td class = "odd"><h1 style="font-size: 50px; font-weight: 200;">{{Temperature_sat}} °<sub style="color: #fee38a; font-size: 30px;">C</sub></h1></td>
                    <td><h1 style="font-size: 50px; font-weight: 200;">{{Temperature_sat}} °<sub style="color: #fee38a; font-size: 30px;">C</sub></h1></td>
                    <td class = "odd"><h1 style="font-size: 50px; font-weight: 200;">{{Temperature_sat}} °<sub style="color: #fee38a; font-size: 30px;">C</sub></h1></td>
                    <td><h1 style="font-size: 50px; font-weight: 200;">{{Temperature_sat}} °<sub style="color: #fee38a; font-size: 30px;">C</sub></h1></td>
                    <td class = "odd"><h1 style="font-size: 50px; font-weight: 200;">{{Temperature_sat}} °<sub style="color: #fee38a; font-size: 30px;">C</sub></h1></td>
                    </tr>
                </tbody>
                </table>
        <!-- </div> -->
        
        
    </div>
</div>
