  <!------------------------Google Map---------------------------->
  <agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefultUI]="false"
  [zoomControl]="false"
  (mapClick)= "mapClicked($event)">

<agm-marker 
      *ngFor="let m of markers; let i=index"
      (markerClick) ="ClickedMarker(m.label,i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd) = "markerDragEnd (m,$event)">

      <agm-info-widow>
          <strong>InfoWindow content</strong>
      </agm-info-widow>

  </agm-marker>

  <agm-circle [latitude]="lat +0.3" [longtiude]="lng"
      [radus]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>


</agm-map> 
<!-------------------------------------------------------------------------------->
